<h1>Log In</h1>
<h4 style="color:red;"><%= "Fields required: name, email and password" if @user && @user.errors.any? %></h4>
<form method="POST" action="/sessions">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <p><input type="submit" value="Login"></p>
</form>

Don't have an account? Click <a href="/signup">HERE</a> to sign up!