<h1>Sign Up</h1>
<h3>All fields required</h3>
<form method="POST" action="/users">
    <label for="name">Name:</label>
    <input type="text" id="name" name="user[name]">
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]">
    <br>
    <p><input type="submit" value="Sign Up"></p>
</form>
<p>
Already have an account? Click <a href="/login">HERE</a> to login!
</p>