<h5><%= "You are logged in as #{session[:email]}." if session[:email] %></h5>
<h1>Edit Post</h1>
<br>
<form method="POST" action="/posts/<%=@post.id%>">
    <input type="hidden" id="hidden" name="_method" value="patch"
    <label for="title">Title:</label>
    <input type="text" id="title" name="post[title]" value="<%=@post.title%>">
    <br>
    <label for="content">Content:</label>
    <input type="text" id="content" name="post[content]" value="<%=@post.content%>" size="50">
    <p><input type="submit" value="Save changes"></p>
</form>