<h1>Welcome!</h1>
<h3>You can view all public posts, sign up, or login!</h3>

<p><form method="get" action="/posts">
    <input type="submit" value="View Posts">
</form>
<form method="get" action="/signup">
    <input type="submit" value="Sign Up">
</form>
<form method="get" action="/login">
    <input type="submit" value="Login">
</form>
</p>